<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Подключение к SQLite -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:wishList.db</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>

        <!-- Дополнительные настройки -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.bytecode.provider">bytebuddy</property>
        <property name="hibernate.enhancer.enableLazyInitialization">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>




        <!-- Список классов-сущностей -->
        <mapping class="ru.oop.logic.models.User" />
        <mapping class="ru.oop.logic.models.Wishlist" />
        <mapping class="ru.oop.logic.models.Wish" />
    </session-factory>
</hibernate-configuration>